# Licensed ecoinvent/openLCA/Brightway data and private LCA impact factors.
data/raw/ecoinvent*/
data/raw/Ecoinvent*/
model_layers/05_lca/ecoinvent*/
model_layers/05_lca/Ecoinvent*/
model_layers/05_lca/private/
model_layers/05_lca/*private*.csv
*.spold

# Python cache files.
__pycache__/
*.py[cod]
